#employee
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    display: block
    max-width: 1200px
    width: 100%
    margin: 0 auto
    padding-top: 200px 
    padding-left: 15px
    padding-right: 15px
    .employee__container
        position: absolute
        max-width: 1170px
        width: 100%
        height: 100%
        max-height: 350px
        left: 0px
        right: 0px
        margin: 0 auto
        display: block
        .employee__background 
            position: absolute
            left: -600px
            width: 480px
            height: 336px
            background-image: url(../img/jpg/home-3-1-483x327.jpg)
            background-size: contain
            background-repeat: no-repeat
            border-radius: 10px
            display: inline-block
            opacity: 0
            .employee__img
                position: absolute
                bottom: 10px
                left: 65px
                width: 341px
                height: 391px
                background-image: url(../img/png/home-3-2-341x391.png)
                background-size: contain
                background-repeat: no-repeat
        .employee__about-box
            position: absolute
            right: -600px
            float: right
            margin-left: 10%
            width: 480px
            height: 336px
            display: block
            opacity: 0
            h2
                font-size: 3.1em
                text-align: left
                margin-top: 0
                margin-bottom: 0
                font-family: "pt serif", times new roman, Times, serif
                font-weight: bold
                color: #151515
                letter-spacing: 0
            p
                margin-top: 25px
                font-size: 0.9em
                text-align: justify
                color: #858585
                line-height: 1.6
                font-family: PoppinsLight
            .employee__autograph
                margin-top: 40px
                width: 140px
                height: 50px
                background-image: url(../img/png/signature-1-140x50.png)

